@charset "UTF-8";
*{ margin:0px; padding:0px;}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, body, form, input, button, img, cite, strong, em, table, td, th { padding:0; margin:0; }
img, table, td, th { border: 0; }
ul, ol { list-style-type:none; }
body{font-family:"微软雅黑", Arial, Helvetica, sans-serif; overflow-x: hidden;}
a,a:link{text-decoration: none;}
/*头部中css styel*/
.header{ height: 94px; width: 1000px; margin: 0px auto;}
.header .logo{ height: 94px; width: 150px; float: left; padding-left: 80px;}
.header .logo img{ vertical-align: middle; padding-top: 8px; max-width:80px; max-height: 80px;  }
.header .nav{height: 94px; width: 769px; float: left;}
.header .nav ul{width: 504px; height: 50px; margin-top: 22px; margin-left: 10px; line-height: 50px; font-size: 20px; text-align: center;}
.header .nav ul li{width:126px; float: left; text-align: center; height: 100%; font-size: 16px;}

.header .nav ul li a,.wrap .header .top_box .nav ul li a:link{ color: #020202;}
.header .nav ul li a:hover{color: #47b14c;}
.header .nav ul li a.active{color: #47b14c;}
.banner{width: 100%; height: 641px; overflow: hidden; position: relative;}
.banner li{width: 100%; height:641px; animation:gradient 3s ;}
.banner .point_box{ position: absolute; bottom: 20px; left:50%; height: 16px; z-index:6;}
.banner .point_box li{ height: 14px; width: 14px; margin: 0px 5px; border-radius: 50px; background-color: #c9c9c9; float: left;   }
.banner .point_box li.active{background-color:#323232; }


/*底部css style*/
.footer{height: 53px; width: 100%; background-color: #47b14c;  }
.footer p{width: 1000px; margin: 0px auto; text-align: center; line-height: 53px;}

/*首页中css style*/

.index_background{width:100%;  margin-top: -4px; }
.index_background .main_box{width: 1000px; margin: 0px auto;}
.index_background .main_box .content1{height: 465px; width: 100%; position: relative; }
.index_background .main_box .content1 img{ max-width: 382px;  max-height: 382px; vertical-align:middle; position: absolute; top: 40px; }
.index_background .main_box .content1 .editableContent{ width:540px;   height: 352px;  float: right; margin-left: 36px; margin-top: 65px;}
.index_background .main_box .content2{height: 465px; width: 100%; position: relative;}
.index_background .main_box .content2 img{ max-width: 382px;  max-height: 382px; vertical-align: middle; position: absolute;  top: 10px;}
.index_background .main_box .content2 .editableContent{ width:540px;   height: 352px;  float: left;  margin-top: 65px;  }

/*关于我们 css style*/
.about_main{width: 1000px; margin: 0px auto;}
.about_main .content{height: 700px; width: 800px; margin: 0px auto;} 
.about_main .content .editableContent{ width:800px;   height: 700px;  float: left; margin-top: 50px; position: relative; }
.about_main .content .editableContent img{position:absolute; top:300px; left:500px ;  max-height: 350px; max-width: 400px;}
/*联系我们 css style*/
.contact_main{width: 1000px; height: 340px; margin: 0px auto; margin-top: 30px;}
.contact_main .map{float: left;}
.contact_main .information{height: 340px; width: 450px; float: left; margin-left: 40px;}

/*产品展示 css style*/
.product_display{width: 1000px; margin: 0px auto; height: 720px; margin-top: 30px; position: relative; padding-top: 16.5px;}
/*.product_display .menu{width: 1000px; height: 30px; margin-bottom: 20px; }
.product_display .menu li{float: left; height: 30px; background-color: #47b14c; width: 250px; color: #fff; text-align: center; }
.product_display .menu li:hover{background-color: #000;}
.product_display .menu li.active{background-color: #000;}*/
.product_display .product_title{position: absolute; top: 0px; left: 445px; z-index: 5; background-color: #fff; width:110px; }
.product_display .product{width: 1000px; overflow: hidden; height: 600px; margin-top: 40px; }
.product_display .product ul{width: 1000px;  list-style-type: none; height: 600px;}
.product_display .product a,.product_display .product a:hover{color: rgb(63, 63, 63); background-color: #cccccc}
.product_display .product a li{width: 240px; height: 260px; margin: 0px 5px; margin-bottom: 10px; border: 1px solid #e6e6e6; box-sizing: border-box; float: left;}
.product_display .product a li .product_img_container{width: 240px; height: 180px; overflow: hidden; position: relative;}
.product_display .product a li .product_img_container .product_img{width: 240px; height: 180px; position: absolute;}
.product_display .product a li .product_name{ font-size: 14px; height: 40px; margin-left: 7px; padding-top: 10px;}
.product_display .product a li .product_introduction{font-size: 12px; height: 20px; width: 220px; color: rgb(150, 150, 150); text-overflow:ellipsis; overflow: hidden; white-space:nowrap; margin-bottom: 10px; padding-left: 8px;}
.product_display .page_box{width: 100%; height: 40px;  position: absolute; bottom: 90px; }
.product_display .page_box .page{width: 300px; height: 40px; margin-top: 30px; position: absolute; }
.product_display .page_box .page a,.product_display .page_box .page a:link{float: left; color: #5c5c5c; font-size: 14px; border: 1px solid #c8c8c8; padding: 7px 10px; margin: 0px 4px; border-radius: 4px;}
.product_display .page_box .page a.active{ background-color: #cccccc;}